* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cm {
    margin: 0 auto;
    border-radius: 1vmin;
    /* background: linear-gradient(
        to left,
        lime 20%,
        red 30%,
        red 45%,
        cyan 55%,
        cyan 70%,
        yellow 80%
      ); */
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,105,1) 35%, rgba(0,212,255,1) 100%); */
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
      /* background-image: radial-gradient(50% 50% at 50% 50%, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),radial-gradient(50% 50% at 50% 50%, #FFFFFFFF 0%, #FFFFFFFF 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%); */
    color: black;
    padding: 10px;
    border: 1px solid darkblue;
    /* text-align: center; */
}